@font-face {
    font-family: 'Inter Semi Bold';
    src: url('fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('fonts/Inter-Bold.ttf');
}

.main {
    -fx-background-color: #F5F7FB;
}

.sidebar {
    -fx-background-color: #1E1E1E;
}

.active-button {
    -fx-background-color: #EE8850;
    -fx-background-radius: 0;
    -fx-text-fill: #1e1e1e;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-padding: 16 24 16 24;
    -fx-graphic-text-gap: 12;
}

.default-button {
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-text-fill: #ebebeb;
    -fx-background-color: #1e1e1e;
    -fx-padding: 16 24 16 24;
    -fx-graphic-text-gap: 12;
    -fx-background-radius: 0;
}

.h1 {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 30;
    -fx-text-fill: #1e1e1e;
}

.sidebar-button-container {
    -fx-graphic-text-gap: 12;
}