@font-face {
    font-family: 'Inter Semi Bold';
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf');
}

.main {
    -fx-background-color: #F5F7FB;
}

.sidebar {
    -fx-background-color: #1E1E1E;
}

.active-button {
    -fx-background-color: #262626;
    -fx-background-radius: 0;
    -fx-text-fill: #EE8850;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-padding: 16 24 16 24;
    -fx-graphic-text-gap: 12;
    -fx-border-color: #EE8850;
    -fx-border-width: 0 0 0 5;
    -fx-cursor: hand;
}

.default-button {
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-text-fill: #ebebeb;
    -fx-background-color: #1e1e1e;
    -fx-padding: 16 24 16 24;
    -fx-graphic-text-gap: 12;
    -fx-background-radius: 0;
    -fx-border-color: #1e1e1e;
    -fx-border-width: 0 0 0 5;
    -fx-cursor: hand;
}

.h1 {
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 30;
    -fx-text-fill: #1e1e1e;
}

.h2 {
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 20;
    -fx-text-fill: #1e1e1e;
}

.sidebar-button-container {
    -fx-graphic-text-gap: 12;
}

.panel {
    -fx-effect: dropshadow(gaussian, #00000040, 10, 0, 0, 0);
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16;

}

.cta {
    -fx-background-radius: 8;
    -fx-background-color: #ee8850;
    -fx-text-fill: #1e1e1e;
    -fx-padding: 12 20 12 20;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.listview {
    -fx-background-color: #fefefe;
    -fx-border: 0;
}

.tableHeader {
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-text-fill: #929292;
}

.tableBorder {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #929292;
}

.cta-2 {
    -fx-background-radius: 8;
    -fx-background-color: #ee8850;
    -fx-text-fill: #1e1e1e;
    -fx-padding: 8 12 8 12;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.modal-header {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 16 16 0 0;
}

.modal-header-title {
    -fx-text-fill: #fefefe;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 20;
}

.text-label {
    -fx-text-fill: #1e1e1e;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 16;
}

.text-label2 {
    -fx-text-fill: #1e1e1e;
    -fx-font-family: 'Inter Semi Bold';
    -fx-font-size: 20;
}

.inputfield {
    -fx-text-fill: #1e1e1e;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 16;
    -fx-border-color: #b8b8b8;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.secondary-cta {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #b8b8b8;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 16;
    -fx-text-fill: #1e1e1e;
    -fx-padding: 8 12 8 12;
    -fx-cursor: hand;
}

.secondary-cta2 {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 16;
    -fx-text-fill: #fefefe;
    -fx-padding: 8 12 8 12;
    -fx-cursor: hand;
}